# Environnement virtuel Python
venv/
__pycache__/
*.pyc

env_prj_synthese/
__pycache__/
*.pyc
env_prj_synthese/
__pycache__/
*.pyc
# Clés API et Variables d'environnement
Api_Key*
.env
*.json

# Fichiers de métriques
metrics.json

# Fichiers générés par DVC
/.dvc/
data/


# Fichiers Docker
Dockerfile
*.log
.csv

# Logs et artefacts MLflow
mlruns/

# Fichiers temporaires
*.tmp
*.bak

# Autres fichiers sensibles
.gpg

